<h2>User info</h2>

<%#= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpeg" %>
 <label for="inputImage">Image</label>
 <%#= f.attachment_field :profile_image, placeholder:"プロフィール画像" %>

<p>Name</p>
<%= user.name %>

<p>introduction</p>
<%= user.introduction %>

<%= submit "Show", edit_user_path %>


<h2>New Book</h2>
<%= form_with model: book, local:true do |f| %>
 <p>Title</p>
 <%= f.text_field :title %>

 <p>Opinion</p>
 <%= f.text_area :body %>
 <%= f.submit 'CreateBook' %>
<% end %>